* {
    margin:0;
    padding:0; 
}

nav ul {
    display: flex;
    justify-content:right;
    min-width: 100px;
    padding: 20px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

header h1 {

}

header h3 {

}

header p {

}

.card {

}



@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }